h1, h2, h3, h4{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
	color: rgb(165, 159, 0);
}

h1{
	font-size: 5vw;
}

h2{
	font-size: 12.5vw;
	color: black;
}

#grid{
	display: grid;
	grid-template-columns: 13vw 20vw 20vw 15vw 20vw;
	margin-top: -10vw;
}